.box{
    height: 65vh;
    width: 60%;
    display: flex;
    background-color: rgb(104, 104, 211);
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: space-around;
}

label{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.box-inputs{
    width: 80%;
}
.form-control{
    width: 70%;
}